<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jointventureapp">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:name="com.example.jointventureapp.Application.AnaApplication">


        <!-- Main Page activity -->
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name">
        </activity>


        <!-- Login activity -->
        <activity android:name=".Activities.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>



        <!-- Register Page Activity -->
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="@string/app_name">
        </activity>

        <!-- About us Activity -->
        <activity
            android:name=".Activities.AboutUs"
            android:label="@string/app_name">
        </activity>

        <!-- Add Page Activity -->
        <activity
            android:name=".Activities.AddActivity"
            android:label="@string/app_name">
        </activity>

        <!-- Calendar Activity -->
        <activity android:name=".Activities.CalendarActivity"
            android:label="@string/AppName">

        </activity>

        <!-- Graph Activity -->
        <activity
            android:name=".Activities.GraphsActivity"
            android:label="@string/app_name">

        </activity>

        <!-- Trial Activity -->
        <activity
            android:name=".Activities.Trial"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name=".Activities.GraphsActivity5"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activities.GraphsActivity4"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activities.GraphsActivity2"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activities.GraphsActivity1"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activities.GraphsActivity0"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activities.AddActivity0"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activities.AddActivity1"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activities.AddActivity2"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activities.AddActivity4"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Activities.AddActivity5"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activities.CalendarActivity0"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activities.CalendarActivity1"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activities.CalendarActivity2"
            android:label="@string/app_name">
        </activity>


    </application>

</manifest>